# Can ignore specific files
Gmisc.Rproj
.project
# .RBuildignore
.Rhistory
.Rproj.User/
.settings/
.Rproj.user
tests/visual_tests/FTP_test/FTP_test_files
tests/testthat/*.pdf
cran-comments.md
vignettes/*.R
vignettes/*.html