Meta
doc
# Can ignore specific files
Gmisc.Rproj
.project
# .RBuildignore
.Rhistory
.Rproj.User/
.settings/
.Rproj.user
tests/visual_tests/FTP_test/FTP_test_files
tests/testthat/*.pdf
cran-comments.md
vignettes/*.R
vignettes/*.html
inst/extdata/*.html
inst/extdata/*.css
inst/extdata/Full_test_suite_files/*
.vscode
/doc/
/Meta/
