export(forestplot2)
export(forestplotCombineRegrObj)
export(forestplotRegrObj)
export(getCphRegrObjData)
export(getCrudeAndAdjustedModelData)
export(getXTicks)
export(isFitCoxPH)
export(isFitLogit)
export(latexCrudeAndAdjustedModel)
export(meta.colors)
export(plotHR)
export(printSimpleFit)
export(selectCommonAndChange2Boolean)
export(termplot2)
import(grid)
importMethodsFrom(miscTools,insertRow)
